<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
  <div class="card bg-light">
    <article class="card-body" >
      <h4 class="display-4 mb-5 mt-4 text-center">Technique Videolibrary</h4>
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Contents</div>
        <div class="card-body">
          <h5 class="card-title">Exercise tutorials</h5>
          <ul>
            <li><a href="#bench">Bench Press</a></li>
            <li><a href="">Deadlift</a></li>
            <li><a href="">Barbell Squat</a></li>
            <li><a href="">Overhead Press</a></li>
            <li><a href="">Barbell Row</a></li>
            <li><a href="">Pull Up</a></li>
          </ul>
        </div>
      </div>
      <h4 id="bench" class="display-4">How to Bench Press</h4>
      <hr>
      <div class="text-center">
      <div class="embed-responsive embed-responsive-16by9 w-50 d-flex col-centered mt-3">
        <iframe class="embed-responsive-item mt-2" src="https://www.youtube.com/embed/vcBig73ojpE" allowfullscreen></iframe>
      </div><br>
      <p class="font-weight-light">Muscles involved: </p><p class="font-italic mb-5">Pectoralis Major, Latissimus Dorsi, Anterior Deltoid, Middle Deltoid</p>
    </div>

      <h4 class="display-4 mt-5">How to Deadlift</h4>
      <hr>
      <div class="text-center">
      <div class="embed-responsive embed-responsive-16by9 w-50 col-centered mt-3">
        <iframe class="embed-responsive-item mt-2" src="https://www.youtube.com/embed/VL5Ab0T07e4" allowfullscreen></iframe>
      </div><br>
      <p class="font-weight-light">Muscles involved: </p><p class="font-italic">Gluteus Maximus, Quadriceps, Adductor Magnus, Hamstrings</p>
    </div>

      <h4 class="display-4">How to Squat</h4>
      <hr>
      <div class="text-center">
      <div class="embed-responsive embed-responsive-16by9 w-50 col-centered mt-3">
        <iframe class="embed-responsive-item mt-2" src="https://www.youtube.com/embed/bEv6CCg2BC8" allowfullscreen></iframe>
      </div><br>
      <p class="font-weight-light">Muscles involved: </p><p class="font-italic">Gluteus Maximus, Quadriceps, Adductor Magnus, Hamstrings</p>
    </div>

      <h4 class="display-4">How to Barbell Row</h4>
      <hr>
      <div class="text-center">
      <div class="embed-responsive embed-responsive-16by9 w-50 col-centered mt-3">
        <iframe class="embed-responsive-item mt-2" src="https://www.youtube.com/embed/axoeDmW0oAY" allowfullscreen></iframe>
      </div><br>
      <p class="font-weight-light">Muscles involved: </p><p class="font-italic">Scapular Stabilizers, Latissimus Dorsi, Anterior Deltoid, Middle Deltoid</p>
    </div>

      <h4 class="display-4">How to Overhead Press</h4>
      <hr>
      <div class="text-center">
      <div class="embed-responsive embed-responsive-16by9 w-50 col-centered mt-3">
        <iframe class="embed-responsive-item mt-2" src="https://www.youtube.com/embed/_RlRDWO2jfg" allowfullscreen></iframe>
      </div><br>
      <p class="font-weight-light">Muscles involved: </p><p class="font-italic">Pectoralis Superior, Anterior Deltoid, Latissimus Dorsi, Middle Deltoid</p>
    </div>

      <h4 class="display-4">How to Pull Up</h4>
      <hr>
      <div class="text-center">
      <div class="embed-responsive embed-responsive-16by9 w-50 col-centered mt-3">
        <iframe class="embed-responsive-item mt-2" src="https://www.youtube.com/embed/Hdc7Mw6BIEE" allowfullscreen></iframe>
      </div><br>
      <p class="font-weight-light">Muscles involved: </p><p class="font-italic">Latissimus Dorsi, Anterior Deltoid, Middle Deltoid, Byceps Brachialis</p>
    </div>

    </article>
  </div>
</div>
<div class="col-1"></div>
</div>
</div>